/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
$advantages-1-name: 'advantages-1';
$advantages-1-x: 0px;
$advantages-1-y: 116px;
$advantages-1-offset-x: 0px;
$advantages-1-offset-y: -116px;
$advantages-1-width: 80px;
$advantages-1-height: 79px;
$advantages-1-total-width: 307px;
$advantages-1-total-height: 274px;
$advantages-1-image: '../images/sprite.png';
$advantages-1: (0px, 116px, 0px, -116px, 80px, 79px, 307px, 274px, '../images/sprite.png', 'advantages-1', );
$advantages-2-name: 'advantages-2';
$advantages-2-x: 0px;
$advantages-2-y: 195px;
$advantages-2-offset-x: 0px;
$advantages-2-offset-y: -195px;
$advantages-2-width: 80px;
$advantages-2-height: 79px;
$advantages-2-total-width: 307px;
$advantages-2-total-height: 274px;
$advantages-2-image: '../images/sprite.png';
$advantages-2: (0px, 195px, 0px, -195px, 80px, 79px, 307px, 274px, '../images/sprite.png', 'advantages-2', );
$advantages-3-name: 'advantages-3';
$advantages-3-x: 80px;
$advantages-3-y: 116px;
$advantages-3-offset-x: -80px;
$advantages-3-offset-y: -116px;
$advantages-3-width: 80px;
$advantages-3-height: 79px;
$advantages-3-total-width: 307px;
$advantages-3-total-height: 274px;
$advantages-3-image: '../images/sprite.png';
$advantages-3: (80px, 116px, -80px, -116px, 80px, 79px, 307px, 274px, '../images/sprite.png', 'advantages-3', );
$advantages-4-name: 'advantages-4';
$advantages-4-x: 160px;
$advantages-4-y: 116px;
$advantages-4-offset-x: -160px;
$advantages-4-offset-y: -116px;
$advantages-4-width: 80px;
$advantages-4-height: 79px;
$advantages-4-total-width: 307px;
$advantages-4-total-height: 274px;
$advantages-4-image: '../images/sprite.png';
$advantages-4: (160px, 116px, -160px, -116px, 80px, 79px, 307px, 274px, '../images/sprite.png', 'advantages-4', );
$app-store-name: 'app-store';
$app-store-x: 0px;
$app-store-y: 58px;
$app-store-offset-x: 0px;
$app-store-offset-y: -58px;
$app-store-width: 158px;
$app-store-height: 58px;
$app-store-total-width: 307px;
$app-store-total-height: 274px;
$app-store-image: '../images/sprite.png';
$app-store: (0px, 58px, 0px, -58px, 158px, 58px, 307px, 274px, '../images/sprite.png', 'app-store', );
$best-name: 'best';
$best-x: 223px;
$best-y: 52px;
$best-offset-x: -223px;
$best-offset-y: -52px;
$best-width: 50px;
$best-height: 45px;
$best-total-width: 307px;
$best-total-height: 274px;
$best-image: '../images/sprite.png';
$best: (223px, 52px, -223px, -52px, 50px, 45px, 307px, 274px, '../images/sprite.png', 'best', );
$google-play-name: 'google-play';
$google-play-x: 0px;
$google-play-y: 0px;
$google-play-offset-x: 0px;
$google-play-offset-y: 0px;
$google-play-width: 159px;
$google-play-height: 58px;
$google-play-total-width: 307px;
$google-play-total-height: 274px;
$google-play-image: '../images/sprite.png';
$google-play: (0px, 0px, 0px, 0px, 159px, 58px, 307px, 274px, '../images/sprite.png', 'google-play', );
$logotype-name: 'logotype';
$logotype-x: 159px;
$logotype-y: 0px;
$logotype-offset-x: -159px;
$logotype-offset-y: 0px;
$logotype-width: 148px;
$logotype-height: 52px;
$logotype-total-width: 307px;
$logotype-total-height: 274px;
$logotype-image: '../images/sprite.png';
$logotype: (159px, 0px, -159px, 0px, 148px, 52px, 307px, 274px, '../images/sprite.png', 'logotype', );
$next-name: 'next';
$next-x: 240px;
$next-y: 116px;
$next-offset-x: -240px;
$next-offset-y: -116px;
$next-width: 66px;
$next-height: 65px;
$next-total-width: 307px;
$next-total-height: 274px;
$next-image: '../images/sprite.png';
$next: (240px, 116px, -240px, -116px, 66px, 65px, 307px, 274px, '../images/sprite.png', 'next', );
$prev-name: 'prev';
$prev-x: 159px;
$prev-y: 52px;
$prev-offset-x: -159px;
$prev-offset-y: -52px;
$prev-width: 64px;
$prev-height: 64px;
$prev-total-width: 307px;
$prev-total-height: 274px;
$prev-image: '../images/sprite.png';
$prev: (159px, 52px, -159px, -52px, 64px, 64px, 307px, 274px, '../images/sprite.png', 'prev', );
$qr-name: 'qr';
$qr-x: 273px;
$qr-y: 52px;
$qr-offset-x: -273px;
$qr-offset-y: -52px;
$qr-width: 16px;
$qr-height: 16px;
$qr-total-width: 307px;
$qr-total-height: 274px;
$qr-image: '../images/sprite.png';
$qr: (273px, 52px, -273px, -52px, 16px, 16px, 307px, 274px, '../images/sprite.png', 'qr', );
$spritesheet-width: 307px;
$spritesheet-height: 274px;
$spritesheet-image: '../images/sprite.png';
$spritesheet-sprites: ($advantages-1, $advantages-2, $advantages-3, $advantages-4, $app-store, $best, $google-play, $logotype, $next, $prev, $qr, );
$spritesheet: (307px, 274px, '../images/sprite.png', $spritesheet-sprites, );

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
