@charset "UTF-8";

/* ==========================================================================
 * label-soon
 * ========================================================================== */

.label-soon{
	background: $orange;
	color: #fff;
	padding: 3px 5px;
	display: inline-block;
	border-radius: 3px;
	font-size: 12px;
}

/* ==========================================================================
 * Layout
 * ========================================================================== */

.container{
	overflow: hidden;
	position: relative;

	&__section{
		
	}
}

/* ==========================================================================
 * section
 * ========================================================================== */

.section{
	padding: 80px 0 80px;

	&__wrap{
		@include clearfix;
		max-width: 1000px;
		padding: 0 10px;
		margin: auto;
	}

	&__title{
		font-family: $museo;
		text-align: center;
		margin: 0 0 40px;
		font-weight: 400;
		font-size: 42px;
		line-height: (50/36);
		@media (max-width: 768px){
			font-size: 35px;
		}
	}

	&__text{
		margin: 0 0 30px;
		text-align: center;		
	}
}

 
/* ==========================================================================
 * home
 * ========================================================================== */

.home{
	background: #efefef;
	padding-bottom: 80px;
	position: relative;
	min-height: 550px;
	max-height: 100vh;
	
	@media (max-width: 1000px){
		min-height: 0;
		max-height: initial;
		padding-bottom: 0px;
	}

	&__title{
		margin: 0 0 5px;
	}

	&__text{
		margin: 0 0 35px;
	}

	&__mobiles{
		
	}

	&__steps{
		position: absolute;
		left: 0;
		right: 0;
		bottom: 0;
		@media (max-width: 1000px){
			position: static;
		}
	}
}

.home-mobiles{


	&__content{
		padding: 0 170px;
		position: relative;
		max-width: 812px;
		margin: auto;	
		
		@media (max-width: 1000px){
			padding: 0;
		}	
	}

	&__image-placeholder{
		text-align: center;
	}

	&__image{
		vertical-align: top;
		max-width: 100%;
		height: auto;	

		@media (max-height: 700px) and (min-width: 1000px){
			width: 300px;
		}	
	}

	&__markets{
		text-align: center;
	}

	&__market{
		position: absolute;
		top: 50%;
		margin-top: -50px;
		
		@media (max-width: 1000px){
			position: static;
			margin: 0 20px 15px;
			display: inline-block;
			vertical-align: top;
		}	

		&--google-play{
			left: 0;
		}

		&--app-store{
			right: 0;
		}
	}
}

/* ==========================================================================
 * market-link
 * ========================================================================== */

.market-link{

	&__href{
		display: block;
		margin: 0 auto 10px;
		text-indent: -9999px;
		text-align: left;
		
		transition: opacity .2s;

		&--google-play{
			@include sprite($google-play);
		}
		&--app-store{
			@include sprite($app-store);
		}

		&:hover{
			opacity: .9;
		}
		
	}

	&__qr-code{
		text-align: center;

		@media (max-width: 1024px){
			display: none;
		}
	}
}

/* ==========================================================================
 * qr-code
 * ========================================================================== */

.qr-code{

	&__label{
		position: relative;
		cursor: pointer;
	}

	&__input{
		position: absolute;
		left: -9999px;

		&:checked + .qr-code__code{
			opacity: 1;
			visibility: visible;
		}
	}

	&__code{
		position: absolute;
		top: 100%;
		left: 50%;
		z-index: 500;
		margin-left: -62px;
		margin-top: 10px;
		width: 124px;
		text-align: center;
		background: #fff;
		box-shadow: 0 5px 15px rgba(0,0,0,.2);

		opacity: 0;
		visibility: hidden;
		transition: all .2s;
	}

	&__text{
		color: #000;
		position: relative;
		font-size: 14px;
		&:before{
			content: '';
			display: inline-block;
			vertical-align: middle;
			margin: 0px 2px 0 0;
			@include sprite($qr);
		}

		&:hover{
			.qr-code__text-inner{
				border-color: transparent;
			}
		}
	}

	&__text-inner{
		border-bottom: 1px dashed;
		transition: all .2s;
	}
}

/* ==========================================================================
 * steps
 * ========================================================================== */

.steps{
	background: $light-blue;
	background: linear-gradient(to right, $light-blue 0%, #5dbdec 50%, $light-blue 100%);
	color: #fff;
	padding: 25px 0 25px;

	&__list{
		text-align: center;
		margin: 0 30px -30px;
		counter-reset: steps;
		@media (max-width: 768px){
			margin: 0 0 -15px;
		}
	}
	
	&__item{
		display: inline-block;
		vertical-align: top;
		margin: 0 25px 30px;
		max-width: 320px;
		padding: 9px 0 0 80px;
		text-align: left;
		counter-increment: steps; 
		position: relative;
		font-size: 18px;
		line-height: (24/18);
		min-height: 66px;
		
		&:before{
			content: counter(steps);
			
			position: absolute;
			top: 0;
			left: 0;

			width: 66px;
			height: 66px;
			border-radius: 50%;
			border: 3px solid;
			margin: 0 auto 20px;
			font-size: 45px;
			font-family: $museo;
			text-align: center;
			line-height: 63px;
		}

		@media (max-width: 768px){
			display: block;
			margin: 0 auto 15px;
		}
	}
}

/* ==========================================================================
 * visual
 * ========================================================================== */

.visual{
	background: $light-blue;
	color: #fff;
	position: relative;

	&__shadow{
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		max-width: 1000px;
		height: 200px;
		margin: auto;
		overflow: hidden;

		&:before{
			content: '';
			display: block;
			background: radial-gradient(ellipse at center, rgba(2,148,219,.5) 0%, rgba(2,148,219,0) 70%);
			margin-top: -100px;
			height: 200px;
		}
		
	}

	&__wrap{
		position: relative;
	}
}

/* ==========================================================================
 * invision
 * ========================================================================== */

.invision{

	&__tabs{
		margin: 0 0 20px;
	}

	&__frame-placeholder{
		text-align: center;
		position: relative;
		min-height: 800px;
	}

	&__frame{
		margin: auto;

		&[data-os="ios"]{
			width: 400px;
			height: 866px;
		}

		&[data-os="android"]{
			width: 428px;
			height: 866px;
		}
	}

	&__loader{
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;		
		margin: auto;
	}
}

/* ==========================================================================
 * loader
 * ========================================================================== */

.loader{
	width: 50px;
	height: 50px;
	display: block;
	animation: spin .6s infinite linear;
}

@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}

/* ==========================================================================
 * gallery
 * ========================================================================== */

.gallery{

	&__tabs{
		margin: 0 0 20px;
	}

	&__box{
		max-width: 360px;
		margin: auto;

		min-height: 500px;
		
		position: relative;
		
		.bx-prev,
		.bx-next{
			position: absolute;
			top: 50%;
			margin-top: -30px;
			text-indent: -9999px;
			opacity: .4;
			
			transition: opacity .2s;

			&:hover{
				opacity: .6;
			}

			@media (max-width: 620px){
				display: none;
			}
		}

		.bx-prev{
			left: -100px;
			@include sprite($prev);
		}

		.bx-next{
			right: -100px;
			@include sprite($next);
		}
	}

	&__list{
		
	}

	&__item{
		float: left;
	}

	&__image{
		width: 100%;
		height: auto;
	}

	&__loader{
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;		
		margin: auto;
	}

}

/* ==========================================================================
 * tabs
 * ========================================================================== */


.tabs{
	text-align: center;

	&__box{
		overflow: hidden;
		border-radius: 15px;	
		display: inline-block;	
		@media (max-width: 768px){
			border-radius: 35px;
		}
	}

	&__list{
		@include clearfix;
	}

	&__item{
		float: left;
	}

	&__radio{
		
	}
}

.tab-radio{
	position: relative;

	&__input{
		position: absolute;
		left: -9999px;

		&:disabled + .tab-radio__text{
			cursor: default;
		}
		
		&:checked + .tab-radio__text{
			background: #717171;
			color: #fff;
			cursor: default;
		}
	}

	&__text{
		background: #fff;
		color: $blue;
		font-size: 14px;
		display: block;
		padding: 9px 10px;
		min-width: 75px;
		cursor: pointer;

		transition: all .2s;
		@media (max-width: 768px){
			font-size: 20px;
			padding: 15px 20px;
			min-width: 120px;
		}
	}
}

/* ==========================================================================
 * advantages
 * ========================================================================== */

.advantages{
	padding-bottom: 120px;

	&__wrap{
		max-width: 1150px;
	}

	&__title{
		margin-bottom: 5px;
	}

	&__images{
		float: left;
		width: 48%;
		position: relative;
		text-align: center;

		@media (max-width: 768px){
			display: none;
		}
	}

	&__table{
		max-width: 100%;
		height: auto;
	}

	&__mobile{
		position: absolute;
		top: 80px;
		right: 0px;
	}

	&__content{
		float: right;
		width: 48%;	
		margin: 27px 0 0;
		@media (max-width: 768px){	
			float: none;
			width: auto;
			margin: 0;
		}
	}

	&__list{
		text-align: center;
		margin: 0 -1% -30px;
		@media (max-width: 480px){
			margin-left: 0;
			margin-right: 0;
		}
	}
	
	&__item{
		display: inline-block;
		vertical-align: top;
		width: 47%;
		margin: 0 1% 30px;
		font-size: 18px;
		line-height: 1.2;
		color: $blue;
		position: relative;
		
		&:before{
			content: '';
			display: block;
			margin: 0 auto 20px;
		}
	
		&--1:before{
			@include sprite($advantages-1);
		}
	
		&--2:before{
			@include sprite($advantages-2);
		}
	
		&--3:before{
			@include sprite($advantages-3);
		}
	
		&--4:before{
			@include sprite($advantages-4);
		}

		@media (max-width: 480px){	
			width: 100%;
			margin-left: 0;
			margin-right: 0;
		}
	}

	&__soon{
		position: absolute;
		top: 15px;
		right: 50%;
		margin: 0 15px 0 0;
	}
}


/* ==========================================================================
 * rates
 * ========================================================================== */

.rates{
	background: $light-blue;
	color: #fff;

	&__list{
		text-align: center;

		display: flex;
		justify-content: center;

		@media (max-width: 992px){	
			display: block;
			margin-bottom: -30px;
		}
	}

	&__item{
		display: inline-block;
		vertical-align: top;
		width: 300px;
		border-left: 1px solid $light-blue;

		&:first-child{
			border: 0;
		}

		@media (max-width: 992px){	
			display: block;
			width: auto;
			max-width: 70%;
			margin: 0 auto 50px;
		}
		@media (max-width: 480px){	
			max-width: 100%;
		}
	}
}

.rates-item{
	background: #fff;
	color: $text;

	&:first-child,
	&:last-child{
		.rates-item__subtitle-text{
			text-indent: -9999px;
			@media (max-width: 992px){	
				text-indent: 0;
			}
		}
	}
	
	// &:nth-child(2){
	// 	.rates-item__subtitle{
	// 		z-index: 1;
	// 		position: relative;
	// 		margin: 0 -60px;
	// 		@media (max-width: 992px){	
	// 			margin: 0;
	// 		}
	// 	}
	// }

	&__header{
		text-align: center;
		position: relative;
		min-height: 216px;
		padding: 15px 15px;

		&--best{
			&:before{
				content: '';
				position: absolute;
				top: 15px;
				left: -7px;
				@include sprite($best);	
			}
		}

		@media (max-width: 992px){	
			min-height: 0;
		}	
	}	

	&__title{
		font-size: 24px;
		margin: 0 0 20px;
		color: #343434;
	}

	&__price{
		color: #343434;
		margin: 0 0 30px;
	}

	&__about{
		font-weight: 300;
		margin: 0 0 10px;
	}

	&__autopay{
		font-size: 12px;
		font-weight: 300;
	}

	&__subtitle{
		background: #e7f6fe;
		text-align: center;
		padding: 10px 7px;
		
	}

	&__subtitle-text{
		text-transform: uppercase;
		font-size: 19px;		
	}

	&__list{
		padding: 5px 0;
	}

	&__item{
		padding: 10px 7px;

		&--inactive{
			color: #c9c9c9;
		}
	}
}

.rates-price{
	padding: 0 0 0 45px;
	&__number{
		font-size: 64px;
		line-height: 1;
		height: 64px;
		display: inline-block;
		font-weight: 700;
		position: relative;
	}

	&__old-number{
		position: absolute;
		top: 10px;
		left: 100%;
		margin: 0 0 0 5px;
		font-size: 16px;
		font-weight: 300;
		color: #58595b;

		white-space: nowrap;

		&:before{
			content: '';
			position: absolute;
			top: 50%;
			left: 0;
			right: 0;
			margin: 2px 0 0;
			background: #58595b;
			height: 1px;
			opacity: .6;
		}
	}

	&__text{
		font-size: 18px;
	}

	&__rub{
		position: relative;
		&:before{
			content: '';
			position: absolute;
			top: 50%;
			left: -1px;
			right: 2px;
			margin: 3px 0 0;
			background: #58595b;
			height: 1px;
		}
	}
}

/* ==========================================================================
 * start-now
 * ========================================================================== */

.start-now{
	padding-bottom: 0;

	&__title{
		color: $blue;
	}

	&__links{
		text-align: center;
		margin: 0 0 30px;
	}

	&__link{
		display: inline-block;
		vertical-align: top;
		margin: 0 10px 15px;
	}

	&__image-placeholder{
		text-align: center;
	}

	&__image{
		max-width: 100%;
		height: auto;
		vertical-align: top;
	}
}
